<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>662903792761-0ldmenpnlq4e1cn72jfiep1g1tofijfe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.662903792761-0ldmenpnlq4e1cn72jfiep1g1tofijfe</string>
	<key>API_KEY</key>
	<string>AIzaSyA7-WTltLbs9tXBSwj_NGtHxjDHkbUTU_U</string>
	<key>GCM_SENDER_ID</key>
	<string>662903792761</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>atk721.Like-HeartSNS</string>
	<key>PROJECT_ID</key>
	<string>likeandheartsns-26e53</string>
	<key>STORAGE_BUCKET</key>
	<string>likeandheartsns-26e53.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:662903792761:ios:b0ca02a1cc4b7adad520a8</string>
	<key>DATABASE_URL</key>
	<string>https://likeandheartsns-26e53.firebaseio.com</string>
</dict>
</plist>